[FORMAT]
2.0

[DATA FILE]
./data/testWave2D.h

[SOLVER MODE]
TIMEDOMAIN

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
25

[BOX NY]
25

[BOX DIMX]
2

[BOX DIMY]
2

[BOX BOUNDARY FLAG] # Dirichlet 1, Neumann 2, Robin 3
1

[POLYNOMIAL DEGREE]
8

[TIME INTEGRATOR]
ESDIRK4(3)6L{2}SA

[TIME STEP]
0.1

[START TIME]
0.0

[FINAL TIME]
3.0

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[ELLIPTIC DISCRETIZATION]
IPDG

[ELLIPTIC LINEAR SOLVER]
PCG

[ELLIPTIC PRECONDITIONER]
MULTIGRID

[ELLIPTIC STOPPING CRITERIA]
ERRORESTIMATE

[ELLIPTIC ITERATIVE CONVERGENCE TOLERANCE]
1e-11

[ELLIPTIC MULTIGRID COARSENING]
HALFDOFS

[ELLIPTIC MULTIGRID SMOOTHER]
CHEBYSHEV

[ELLIPTIC MULTIGRID CHEBYSHEV DEGREE]
3

[ELLIPTIC PARALMOND STRENGTH]
RUGESTUBEN

[ELLIPTIC INITIAL GUESS STRATEGY]
QR

[ELLIPTIC INITIAL GUESS HISTORY SPACE DIMENSION]
12

[ELLIPTIC PARALMOND CYCLE]
VCYCLE

[ELLIPTIC PARALMOND AGGREGATION]
SMOOTHED

[ELLIPTIC PARALMOND SMOOTHER]
CHEBYSHEV

[ELLIPTIC PARALMOND CHEBYSHEV DEGREE]
2

[OUTPUT TO FILE]
FALSE

[OUTPUT ERROR INTERVAL]
1

